<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <title>카카오 계정으로 로그인하기</title>
</head>
<body>
<h1>로그인 페이지</h1>

<a id="kakao-login-btn"></a>
<a href="http://alpha-developers.kakao.com/logout"></a>

<script type='text/javascript'>
    //<![CDATA[
    // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('36c11b0682af29ce2f0c14cbbd9bdfa9');
    // 카카오 로그인 버튼을 생성합니다.
    Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        success: function (authObj) {
            console.log("Success: " + JSON.stringify(authObj));
//            var accessToken = authObj.access_token;
            var accessToken = Kakao.Auth.getAccessToken();
            var refreshToken = Kakao.Auth.getRefreshToken();
            window.location.href = "http://localhost:8080/kakao/login?access_token=" + accessToken + "&refresh_token=" + refreshToken;
        },
        fail: function (err) {
            console.log("Error: " + JSON.stringify(err));
        }
    });
    //]]>
</script>

</body>
</html>